.filters-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.filters-content {
  width: 600px;
  opacity: 1;
  padding: 20px;
  box-sizing: border-box;
  height: 500px;
  background-color: #FFFFFF;
  border-radius: 22px;
}

.window-header-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.close-window-btn {
  border: none;
  background-color: rgba(241, 39, 80, 0.7);
  border-radius: 50px;
  transition: 150ms ease-in-out;
}

.close-window-btn:hover {
  background-color: rgba(201, 39, 80);
}

.filter-option-div {
  border-bottom: 1px solid #222222;
  padding: 0px 10px 20px 10px;
  box-sizing: border-box;
}

.checkbox-filter {
  margin-left: 10px;
  width: 15px;
  height: 15px;
}

.close-icon {
  width: 30px;
}

h2 {
  font-family: boldFont;
}

h3 {
  font-family: semiboldFont;
}

label {
  font-family: regularFont;
}

.filter-input {
  width: 100px;
  margin: 5px;
}

.btns-div {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clear-filters-btn {
  width: 180px;
  font-size: 18px;
  font-family: boldFont;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  background-color: #e60000;
  transition: 150ms ease-in-out;
}

.clear-filters-btn:not([disabled]):hover {
  transform: scale(1.05);
}

.clear-filters-btn:disabled {
  opacity: 0.4;
  cursor: auto;
}

.apply-btn {
  width: 180px;
  font-size: 18px;
  font-family: boldFont;
  height: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  color: white;
  background-color: #90D145;
  transition: 150ms ease-in-out;
}

.apply-btn:not([disabled]):hover {
  transform: scale(1.05);
}

.apply-btn:disabled {
  opacity: 0.4;
  cursor: auto;
}